:root {
  --primary: #8aaae5;
  --secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;

  background: var(--secondary);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

header > h1 {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary);
}

nav {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  background: var(--secondary);
  /* position: fixed; */
}

.sticky {
  position: fixed;
  top: 0;
}

main > img {
  width: 100%;
}
